@use 'variables.scss' as *;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.my-small-container{
    max-width: 600px;
    margin: 0 auto;
}

.my_container{
    max-width: 900px;
    margin: 0 auto;
}

body{
    overflow-x: hidden;
}